$sign: md;

.c-md-reset {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	word-wrap: break-word;
}

.c-md-reset {
	ol[#{$sign}], ul[#{$sign}], li[#{$sign}] {
		list-style: unset;
	}
}

.c-md-reset::before {
	display: table;
	content: "";
}

.c-md-reset::after {
	display: table;
	clear: both;
	content: "";
}

.c-md-reset>*[#{$sign}]:first-child {
	margin-top: 0 !important;
}

.c-md-reset>*[#{$sign}]:last-child {
	margin-bottom: 0 !important;
}

.c-md-reset a[#{$sign}]:not([href]) {
	color: inherit;
	text-decoration: none;
}

.c-md-reset .absent[#{$sign}] {
	color: #cb2431;
}

.c-md-reset .anchor[#{$sign}] {
	float: left;
	padding-right: 6px;
	margin-left: -20px;
	line-height: 1;
}

.c-md-reset .anchor i[#{$sign}] {
	font-size: 18px;
}

.c-md-reset .anchor[#{$sign}]:focus {
	outline: none;
}

.c-md-reset p[#{$sign}],
.c-md-reset blockquote[#{$sign}],
.c-md-reset ul[#{$sign}],
.c-md-reset ol[#{$sign}],
.c-md-reset dl[#{$sign}],
.c-md-reset table[#{$sign}],
.c-md-reset pre[#{$sign}] {
	margin-top: 0;
	margin-bottom: 16px;
}

.c-md-reset hr[#{$sign}] {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.c-md-reset blockquote[#{$sign}] {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

.c-md-reset blockquote[#{$sign}]>:first-child {
	margin-top: 0;
}

.c-md-reset blockquote[#{$sign}]>:last-child {
	margin-bottom: 0;
}

.c-md-reset kbd[#{$sign}] {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: solid 1px #c6cbd1;
	border-bottom-color: #959da5;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #959da5;
}

.c-md-reset h1[#{$sign}],
.c-md-reset h2[#{$sign}],
.c-md-reset h3[#{$sign}],
.c-md-reset h4[#{$sign}],
.c-md-reset h5[#{$sign}],
.c-md-reset h6[#{$sign}] {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

.c-md-reset h1 .octicon-link[#{$sign}],
.c-md-reset h2 .octicon-link[#{$sign}],
.c-md-reset h3 .octicon-link[#{$sign}],
.c-md-reset h4 .octicon-link[#{$sign}],
.c-md-reset h5 .octicon-link[#{$sign}],
.c-md-reset h6 .octicon-link[#{$sign}] {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
}

.c-md-reset h1:hover .anchor[#{$sign}],
.c-md-reset h2:hover .anchor[#{$sign}],
.c-md-reset h3:hover .anchor[#{$sign}],
.c-md-reset h4:hover .anchor[#{$sign}],
.c-md-reset h5:hover .anchor[#{$sign}],
.c-md-reset h6:hover .anchor[#{$sign}] {
	text-decoration: none;
}

.c-md-reset h1:hover .anchor .octicon-link[#{$sign}],
.c-md-reset h2:hover .anchor .octicon-link[#{$sign}],
.c-md-reset h3:hover .anchor .octicon-link[#{$sign}],
.c-md-reset h4:hover .anchor .octicon-link[#{$sign}],
.c-md-reset h5:hover .anchor .octicon-link[#{$sign}],
.c-md-reset h6:hover .anchor .octicon-link[#{$sign}] {
	visibility: visible;
}

.c-md-reset h1 tt[#{$sign}],
.c-md-reset h1 code[#{$sign}],
.c-md-reset h2 tt[#{$sign}],
.c-md-reset h2 code[#{$sign}],
.c-md-reset h3 tt[#{$sign}],
.c-md-reset h3 code[#{$sign}],
.c-md-reset h4 tt[#{$sign}],
.c-md-reset h4 code[#{$sign}],
.c-md-reset h5 tt[#{$sign}],
.c-md-reset h5 code[#{$sign}],
.c-md-reset h6 tt[#{$sign}],
.c-md-reset h6 code[#{$sign}] 
{
	font-size: inherit;
}

.c-md-reset h1[#{$sign}] {
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid #eaecef;
}

.c-md-reset h2[#{$sign}] {
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 1px solid #eaecef;
}

.c-md-reset h3[#{$sign}] {
	font-size: 1.25em;
}

.c-md-reset h4[#{$sign}] {
	font-size: 1em;
}

.c-md-reset h5[#{$sign}] {
	font-size: 0.875em;
}

.c-md-reset h6[#{$sign}] {
	font-size: 0.85em;
	color: #6a737d;
}

.c-md-reset ul[#{$sign}],
.c-md-reset ol[#{$sign}] {
	padding-left: 2em;
}

.c-md-reset ul.no-list[#{$sign}],
.c-md-reset ol.no-list[#{$sign}] {
	padding: 0;
	list-style-type: none;
}

.c-md-reset ul ul[#{$sign}],
.c-md-reset ul ol[#{$sign}],
.c-md-reset ol ol[#{$sign}],
.c-md-reset ol ul[#{$sign}] {
	margin-top: 0;
	margin-bottom: 0;
}

.c-md-reset li[#{$sign}] {
	word-wrap: break-all;
}

.c-md-reset li>p[#{$sign}] {
	margin-top: 16px;
}

.c-md-reset li+li[#{$sign}] {
	margin-top: 0.25em;
}

.c-md-reset dl[#{$sign}] {
	padding: 0;
}

.c-md-reset dl dt[#{$sign}] {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

.c-md-reset dl dd[#{$sign}] {
	padding: 0 16px;
	margin-bottom: 16px;
}

.c-md-reset table[#{$sign}] {
	display: block;
	width: 100%;
	overflow: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.c-md-reset table th[#{$sign}] {
	font-weight: 600;
}

.c-md-reset table th[#{$sign}],
.c-md-reset table td[#{$sign}] {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

.c-md-reset table tr[#{$sign}] {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

.c-md-reset table tr[#{$sign}]:nth-child(2n) {
	background-color: #f6f8fa;
}

.c-md-reset table img[#{$sign}] {
	background-color: transparent;
}

.c-md-reset img[#{$sign}] {
	max-width: 100%;
	background-color: #fff;
	box-sizing: content-box;
}

.c-md-reset img[align=right][#{$sign}] {
	padding-left: 20px;
}

.c-md-reset img[align=left][#{$sign}] {
	padding-right: 20px;
}

.c-md-reset .emoji[#{$sign}] {
	max-width: none;
	vertical-align: text-top;
	background-color: transparent;
}

.c-md-reset span.frame[#{$sign}] {
	display: block;
	overflow: hidden;
}

.c-md-reset span.frame>span[#{$sign}] {
	display: block;
	float: left;
	width: auto;
	padding: 7px;
	margin: 13px 0 0;
	overflow: hidden;
	border: 1px solid #dfe2e5;
}

.c-md-reset span.frame span img[#{$sign}] {
	display: block;
	float: left;
}

.c-md-reset span.frame span span[#{$sign}] {
	display: block;
	padding: 5px 0 0;
	clear: both;
	color: #24292e;
}

.c-md-reset span.align-center[#{$sign}] {
	display: block;
	overflow: hidden;
	clear: both;
}

.c-md-reset span.align-center>span[#{$sign}] {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: center;
}

.c-md-reset span.align-center span img[#{$sign}] {
	margin: 0 auto;
	text-align: center;
}

.c-md-reset span.align-right[#{$sign}] {
	display: block;
	overflow: hidden;
	clear: both;
}

.c-md-reset span.align-right>span[#{$sign}] {
	display: block;
	margin: 13px 0 0;
	overflow: hidden;
	text-align: right;
}

.c-md-reset span.align-right span img[#{$sign}] {
	margin: 0;
	text-align: right;
}

.c-md-reset span.float-left[#{$sign}] {
	display: block;
	float: left;
	margin-right: 13px;
	overflow: hidden;
}

.c-md-reset span.float-left span[#{$sign}] {
	margin: 13px 0 0;
}

.c-md-reset span.float-right[#{$sign}] {
	display: block;
	float: right;
	margin-left: 13px;
	overflow: hidden;
}

.c-md-reset span.float-right>span[#{$sign}] {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: right;
}

.c-md-reset .csv-data td[#{$sign}],
.c-md-reset .csv-data th[#{$sign}] {
	padding: 5px;
	overflow: hidden;
	font-size: 12px;
	line-height: 1;
	text-align: left;
	white-space: nowrap;
}

.c-md-reset .csv-data .blob-num[#{$sign}] {
	padding: 10px 8px 9px;
	text-align: right;
	background: #fff;
	border: 0;
}

.c-md-reset .csv-data tr[#{$sign}] {
	border-top: 0;
}

.c-md-reset .csv-data th[#{$sign}] {
	font-weight: 600;
	background: #f6f8fa;
	border-top: 0;
}

// 代码样式
.c-md-reset code[#{$sign}],
.c-md-reset tt[#{$sign}] {
	margin: 0;
	font-size: 85%; // 文字大小缩放
	border-radius: 3px; // 圆角
}

.c-md-reset code br[#{$sign}],
.c-md-reset tt br[#{$sign}] {
	display: none;
}

.c-md-reset del code[#{$sign}] {
	text-decoration: inherit;
}

.c-md-reset pre[#{$sign}] {
	word-wrap: normal;
}

.c-md-reset .highlight[#{$sign}] {
	margin-bottom: 16px;
}

.c-md-reset .highlight pre[#{$sign}] {
	margin-bottom: 0;
	word-break: normal;
}

.c-md-reset .highlight pre[#{$sign}] {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;
}

.c-md-reset pre tt[#{$sign}] {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

.c-md-reset .TIP[#{$sign}] {
	padding: 8px 16px;
	margin: 20px 0;
	background-color: #f9f0ff;
	border-left: 5px solid #873bf4;
	border-radius: 4px;

	p {
		margin-bottom: 0;
	}
}

.c-md-reset .WARNING[#{$sign}] {
	padding: 8px 16px;
	margin: 20px 0;
	background-color: #fff6f7;
	border-left: 5px solid #fe6c6f;
	border-radius: 4px;

	p {
		margin-bottom: 0;
	}
}


.c-md-reset code[#{$sign}]:not(.hljs)  {
	padding: 0 4px;
	background-color: #f9fafc;
	border: 1px solid #eaeefb;
	border-radius: 2px;
}

.c-md-reset .TIP[#{$sign}] {
	code:not(.hljs)  {
		color: #445368;
		background-color: #ffffffb3;
	}
}

.c-md-reset p a[#{$sign}] {
	color: #2d8cf0;
}
